<h3><span ng-if="!loaded">Open</span> Database</h3>
<form ng-submit="load()" ng-if="!loaded">
    <h4>Location</h4>
    <div>
        <div class="input-group">
            <span class="input-group-btn">
                <label class="btn btn-default" btn-radio="'URL'" ng-model="selected.source" for="sourceUrl" ng-disabled="!sources.url">URL</label>
            </span>
            <input id="sourceUrl" type="text" class="form-control" ng-model="sources.url" />
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <label class="btn btn-default" btn-radio="'GDrive'" ng-model="selected.source" ng-disabled="!sources.gdrive.name">GDrive</label>
            </span>
            <input type="text" class="form-control" ng-model="sources.gdrive.name" readonly />
            <span class="input-group-btn">
                <input type="button" value="Browse&hellip;" class="btn btn-default" ng-click="openGDriveKdbx(sources.gdrive)" ng-disabled="!canOpenGDrive()" />
            </span>
        </div>
        <div class="input-group" file-dropzone="sources.file">
            <span class="input-group-btn">
                <label class="btn btn-default" btn-radio="'File'" ng-model="selected.source" ng-disabled="!sources.file.name">File</label>
            </span>
            <input type="text" class="form-control" ng-model="sources.file.name" readonly />
            <span class="input-group-btn">
                <button class="btn btn-default btn-file">
                    Browse&hellip;
                    <input type="file" class="form-control" file-receiver="sources.file" />
                </button>
            </span>
        </div>
    </div>
    <h4>Credential(s)</h4>
    <div>
        <div class="input-group">
            <span class="input-group-btn">
                <label class="btn btn-default" ng-model="selected.credentials.password" for="credPassword" btn-checkbox ng-disabled="!credentials.password">Password</label>
            </span>
            <input id="credPassword" type="password" class="form-control" ng-model="credentials.password" />
        </div>
        <div class="input-group" file-dropzone="credentials.gdrive">
            <span class="input-group-btn">
                <label class="btn btn-default" ng-model="selected.credentials.gdrive" btn-checkbox  ng-disabled="!credentials.gdrive.name">GDrive</label>
            </span>
            <input type="text" class="form-control" ng-model="credentials.gdrive.name" readonly />
            <span class="input-group-btn">
                <input type="button" value="Browse&hellip;" class="btn btn-default" ng-click="openGDriveAll(credentials.gdrive)" ng-disabled="!canOpenGDrive()" />
            </span>
        </div>
        <div class="input-group" file-dropzone="credentials.file">
            <span class="input-group-btn">
                <label class="btn btn-default" ng-model="selected.credentials.file" btn-checkbox  ng-disabled="!credentials.file.name">Key File</label>
            </span>
            <input type="text" class="form-control" ng-model="credentials.file.name" readonly />
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse&hellip;
                    <input type="file" class="form-control" file-receiver="credentials.file" />
                </span>
            </span>
        </div>
    </div>
    <h4>
      <input type="submit" value="Load" ng-if="!loaded" ng-disabled="loading" class="btn btn-primary" />
      <button ng-if="!loaded" class="btn btn-primary" ng-click="clear()">Clear</button>
    </h4>
</form>
<h4>
    <button ng-if="loaded" class="btn btn-primary" ng-click="unload()">Unload</button>
</h4>
